@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tsukimi+Rounded&display=swap');

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
}

.chat-container {
    width: 400px;
    padding: 20px;
    background: rgba(256, 256, 256, .5);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.chat-container h1,
.chat-container h2 {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin: 0;
    font-family: "Tsukimi Rounded", serif;
    font-weight: bolder;
    font-style: normal;
}

h2 {
    font-size: 1rem;
    color: #666;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "Tsukimi Rounded", serif;
    font-weight: lighter;
    font-style: normal;
}

.chat-box {
    border: 1px solid #ddd;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    background: #fafafa;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.message {
    opacity: 0;
    transform: translateY(10px);
    animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.user-message {
    background-color: rgba(0, 100, 182, 0.8);
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin: 5px 0 5px auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.bot-message {
    background-color: #e9ecef;
    color: black;
    padding: 8px;
    border-radius: 8px;
    margin: 5px auto 5px 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-message .avatar {
    margin-left: 10px;
}

.bot-message .avatar {
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

button {
    width: 100%;
    background: rgba(0, 116, 211, 1);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

button:hover {
    background: rgba(36, 156, 255, 1);
}

.typing::after {
    content: '...';
    animation: typingAnimation 1s infinite;
}

@keyframes typingAnimation {
    0% {
        content: '.';
    }

    33% {
        content: '..';
    }

    66% {
        content: '...';
    }
}

h3 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: rgb(32, 29, 29);
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}