body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../images/background2.png");
    color: #e1e1e1;
    text-align: center;
    overflow-x: hidden;
    animation: fadeIn 1.5s ease-in-out;
}

h1,
h2 {
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    animation: slideDown 1.2s ease-out;
}

form {
    background: rgba(34, 34, 34, 0.9);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    animation: popIn 1s ease-in;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    transition: ease-in .3s;
}

button {
    background: linear-gradient(135deg, #4a00e0, #8e2de2);
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}

input,
select {
    background-color: rgba(20, 20, 20, .3);
    color: white;
}

button:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

table {
    margin-top: 20px;
    border-radius: 10px;
    width: 50%;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    animation: fadeInUp 1.5s ease-in-out;
}

th,
td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #8e2de2;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}