@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tsukimi+Rounded&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../images/background.png") fixed;
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
    animation: fadeIn 1.5s ease-in-out;
}

h1 {
    color: black;
    text-shadow: 1px 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

h2 {
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    animation: slideDown 1.2s ease-out;
    /* background-color: black; */
}

form {
    background: rgba(34, 34, 34, 0.9);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    animation: popIn 1s ease-in;
}

input,
select,
button {
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    transition: ease-in .3s;
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: normal;
}

button {
    background: linear-gradient(20deg, #4a00e0, #8e2de2);
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}

input,
select {
    background-color: rgba(20, 20, 20, .3);
    color: white;
}

button:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

table {
    margin-top: 20px;
    border-radius: 10px;
    width: 50%;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    animation: fadeInUp 1.5s ease-in-out;
}

th,
td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #8e2de2;
    color: white;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    border-radius: 30px;
    margin-bottom: 20px;
    animation: slideDown 1.2s ease-out;

}

.t {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}